# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
ENV/
env/
*.egg-info/

# IDE/editor files
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Logs
*.log

# Docker
*.tar
